{% extends "base.html" %}

{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">Works log</h1>
{% if current_user.is_authenticated %}
<button>
    <a href="/add_job" class="btn btn-secondary">Добавить новость</a>
</button>
{% endif %}
{% for item in works%}
<div class="col-md6 border rounded">
    <h1>Action # {{ item[0] }}</h1>
    <table align="center">
        <tr>
            <th>Title of activity</th>
            <th>Team leader</th>
            <th>Duration</th>
            <th>List of collaborators</th>
            <th>Is finished</th>
        </tr>
        <tr>
            <th>{{ item[1] }}</th>
            <th>{{ item[2] }}</th>
            <th>{{ item[3] }}</th>
            <th>{{ item[4] }}</th>
            <th>{{ item[5] }}</th>
        </tr>
    </table>
</div>
{% if current_user.is_authenticated and (current_user.id == item[-1] or current_user.id == 1): %}
    <div>
        <button>
            <a href="/edit_job/{{ item[0] }}" class="btn btn-warning">Изменить</a>
        </button>
        <button>
            <a href="/jobs_delete/{{ item[0] }}" class="btn btn-danger">Удалить</a>
        </button>
    </div>
{% endif %}
{% endfor %}
{% endblock %}